




/*
     FILE ARCHIVED ON 4:24:10 May 18, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:01:57 Jul 11, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
    Theme Name: Basic responsive code HTML5/CSS3 Layout
    Date: June 2013
    Description: Basic HTML5/CSS3 layout built on a responsive framework from Christian Vasile 1stwebdesigner tutorial
    Version: 1.0
    Author: Keith Tatarczuk
    Author URL: http://keithtatarczuk.com
*/

/* LIGHTBOX */
#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(/web/20140518042410/http://ashenmark.com/images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(/web/20140518042410/http://ashenmark.com/images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }

/*END LIGHTBOX */

body {
  /*background-image: url('/web/20140518042410/http://ashenmark.com/img/bg.png');*/
  background-color: #666;
  color: #000305;
  font-size: 87.5%; /*Base font size is 14px */
  font-family: Arial, 'Lucida Sans Unicode';
  line-height: 1.5;
  text-align: left;
}

h3 {
  color: #e3ac18;
  font-size: 105%;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

a:link, a:visited {
  color: #e3ac18;
}

a:hover, a:active {
  background-color: #000;
  color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.body {
  margin: 0 auto;
  width: 70%;
  clear: both;
}

.mainHeader img {
  width: 100%;
  height: auto;
  margin: 2% 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainHeader nav {
  background-color: #000;
  height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainHeader nav ul {
  list-style: none;
  margin: 0 auto;
}

.mainHeader nav ul li {
  float: left;
  display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
  color: #FFF;
  display: inline-block;
  padding: 10px 25px;
  height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
  background-color: #e3ac18;
  text-shadow: none;
}

.mainHeader nav ul li a{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainContent {
  line-height: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.content {
  width: 70%;
  float: left;
}

.content img {
  width: 100%;
  height: auto;
  margin: 2% 0;
}
.contentgal {
  width: 100%;
  float: left;
}

.contentgal img {
  width: 100%;
  height: auto;
  margin: 2% 0;
}
.topcontent {
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.bottomcontent {
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.profile img {
  float: right;
  display: inline;
  width: 50%;
  margin-left: 5%;
}
  .gallery {
     background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 2%;
    margin-top: 2%;
    margin-bottom: 4%
  }

.gallery img {
  width: 22%;
  height: auto;
}

.gallery li {
  border-width: 0;
  display: inline;
  padding: 1%;
}

.gallery a {
  text-decoration: none;
  background-color: #FFF;
}
  .galleryfull {
     background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 2%;
    margin-top: 2%;
    margin-bottom: 4%
  }

.galleryfull img {
  width: 22%;
  height: auto;
}

.galleryfull li {
  border-width: 0;
  display: inline;
  padding: 1%;
}

.galleryfull a {
  text-decoration: none;
  background-color: #FFF;
}
.lore li {
  list-style: none;
}

.post-info {
  font-style: italic;
  color: #999;
  font-size: 85%;
}

.top-sidebar {
  width: 21%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 2% 0 2% 3%;
  padding: 2% 3%;
}

.middle-sidebar {
  width: 21%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-left: 3%;
  margin-bottom: 2%;
  padding: 2% 3%;
}

.bottom-sidebar {
  width: 21%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-left: 3%;
  margin-bottom: 2%;
  padding: 2% 3%;
}

.mainFooter {
  width: 100%;
  height: 40px;
  float: left;
   border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #000;
  margin: 2% 0;
}

.mainFooter p {
  width: 92%;
  margin: 1% auto;
  color: #FFF;
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{
    
  .body {
    width: 90%;
    font-size: 95%;
  }
  
  .mainHeader img {
    width: 100%;
  }
  
  .mainHeader nav {
    height: 160px;
  }
  
  .mainHeader nav ul {
    padding-left: 0;
  }
  
  .mainHeader nav ul li {
    width: 100%;
    text-align: center;
  }
  
  .mainHeader nav a:link, .mainHeader nav a:visited {
    padding: 10px 25px;
    height: 20px;
    display: block;
  }

  .content {
    width: 100%;
    float: left;
    margin-top: 2%
  }
  
  .profile img {
  display: inline;
  width: 100%;
  margin-left: 5%;
}
  .gallery {
    padding: 3% 5%;
    margin-top: 2%;
    margin-bottom: 4%
  }
  .gallery img {
    width: 100%;
    height: auto;
  }
  
  .gallery li {
    border-width: 0;
    display: inline;
  }
  
  .gallery a {
    text-decoration: none;
    background-color: #FFF;
  }

  .post-info {
    display: none;
  }
  
  .topcontent {
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    margin-bottom: 4%
  }
  
  .bottomcontent {
    margin-top: 3%;
  }
  
  .top-sidebar, .middle-sidebar, .bottom-sidebar {
    width: 94%;
    margin: 2% 0 2% 0;
    padding: 2% 3%;
  }
  
}