<header>
  <div class="logoandnav">
    <div class="logo">
      <img src="../images/AshenMark.png" alt="Ashenmark Heraldry" />
      <p><span class="smallfont">The Nation of</span><br />Ashenmark</p>
      <div id="hidebutton">
        <button class="menuhide" onclick="myFunction()">
          <img id="menuicon" class="isClosed" src="../images/list.svg" alt="show menu" />
        </button>
      </div>
    </div>

    <nav class="menu">
      <ul class="topmenu">
        <li><a href="../ashenfolk/index.html">Ashenfolk</a></li>
        <li><a href="../events/index.html">Events</a></li>
        <li><a href="../armory/index.html">Armory</a></li>
        <li><a class="borderless" href="../community/index.html">Community</a></li>
      </ul>
      <ul class="bottommenu">
        <li><a href="../history/index.html">History</a></li>
        <li><a href="../lore/index.html">Lore</a></li>
        <li><a href="../geography/index.html">Geography</a></li>
        <li><a class="borderless" href="../knighthood/index.html">Knighthood</a></li>
      </ul>
    </nav>
  </div>
  <div class="banner">
    <img class="topbanner" src="images/${selectedImages}" alt="collage of photos of members of Ashenmark" />
  </div>
</header>
