@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Cinzel Decorative', cursive;
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #CC8800;
    justify-content: space-between;
}

h1 {
    font-family: 'Cinzel Decorative', cursive !important;
    font-size: 2em;
    font-weight: bold;
	line-height: 1.2;
    display: block;
    text-align: -webkit-center;
}

h2 {
    font-size: larger;
    font-weight: 900;
	line-height: 1.3;
}

h3 {
    font-size: larger;
    font-weight: 800;
	line-height: 1.3;
}

header p {
    font-size: 4vw;
    margin-left: 12vw;
    line-height: 2.5vw;
    margin-top: -1vw;
}

.content p {
    margin: 1em;
}

.smallfont {
    font-size: 1vw;
}

.subtitle_c {
    font-size: larger;
    font-weight: 900;
	line-height: 1.3;
	text-align: center;
}


.logoandnav {
    display: flex;
    height: 8vw;
    flex-direction: row;
    justify-content: space-between;
}

.banner {
    border-top: 2px solid black;
    border-bottom: 2px solid black
}

.banner,
.banner img {
    height: 5vw;
    width: 100%;
}

.inline {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.inline,
.inline img {
	max-width: 100%;

}

.logo {
    position: relative;
    display: flex;
    align-items: center;
}

.logo img {
    position: absolute;
    top: 0;
    height: 15vw;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.9vw;
}

a {
  color: LightSlateGrey;
  text-decoration: none;
}

.menu ul {
    list-style-type: none;
    display: flex;
    margin: 0.6vw;
    line-height: normal;
}

ul.topmenu {
    margin-right: 8vw;
    margin-block-start: 0;
        margin-block-end: 0;
}

ul.bottommenu {
    margin-left: 4vw;
    margin-block-start: 0;
        margin-block-end: 0;
}

.links ul {
    list-style-type: none;
    text-align: center;
    line-height: 2vw;
}

.content ul {
    margin: 1em;
}

ul a {
    font-size: 1vw;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.4vw;
}

ul h2 {
    font-size: 1.3vw;
}

.menu ul a {
    font-size: 1.1vw;
    border-right: 0.15vw solid black;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
}

.borderless {
    border-right: 0px !important;
}

main {
    margin-top: 2vw;
    width: 80%;
}

#landingpage {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#landingpage img {
    width: 80%;
}

#home {
    background-color: #CC0000;
    text-align: center;
}

#home h1 {
    font-size: 4vw;
}

#container {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    justify-items: center;

}

#container a {
    font-size: 3vw;
    line-height: 5vw;
}

#container a:hover,
.menu ul a:hover {
    color: yellow;
}

.content-container {
    display: grid;
    grid-template-columns: 15% 85%;
}

.links {
    border-right: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}

.content {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    padding-left: 2vw;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.content img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;

}

#updated {
    padding-left: 5px;
    text-align: left;
}

footer {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 2.5rem;
    bottom: 0;
}

.menuhide {
    border: 0;
    background-color: transparent;
    margin-right: 2vw;
}

.menuhide img {
    height: 10vw;
}

#hidebutton{
    height: 10vw;
}


@media only screen and (min-width: 1400px) {
    #container a {
        font-size: 42px;
        line-height: 70px;
    }

    #landingpagecontent {
        width: 1400px;
        margin: 0 auto;
    }

    #home h1 {
        font-size: 55px;
        margin-bottom: 84px;
    }
}

@media only screen and (max-width: 767px) {
    #container {
        margin-bottom: 10vw;
        grid-template-columns: 100%;
    }

    #container>div:nth-child(2) {
        order: -1;
    }

    #landingpage {
        justify-content: flex-start;
    }

    #landingpage img {
        width: 50vw;
    }

    #container a {
        font-size: 6vw;
        line-height: 8vw;
    }

    #home h1 {
        font-size: 7vw;
        margin-top: 5vw;
    }


    /* Content */
    main {
        margin-top: 0;
        width: 100%;
    }

    .content {
        padding: 3vw;
        text-align: justify;
    }

    .content-container {
        display: block;
    }

    .banner {
        display: none;
    }

    .content img {
        width: 100%;
        height: auto;
    }

    .logoandnav {
        display: block;
        height: auto;
    }

    ul.topmenu {
        margin: auto;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* display: none; */
        grid-template-columns: 50% 50%;
        display: grid;
        align-items: center;
        margin-bottom: 2vw;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul a {
        font-size: 4vw;
        border: 0;
        padding-right: 1.5vw;
        padding-left: 1.5vw;
    }

    .logo {

        justify-content: space-between
    }

    .logo img {
        position: relative;
    }

    header p {
        margin-left: -29vw;
        font-size: 7vw;
        line-height: 4.5vw;
    }

    .smallfont {
        font-size: 3vw;
    }

    ul h2 {
        font-size: 6vw;
    }

    ul {
        line-height: 8vw;
    }

    ul a {
        font-size: 5vw;
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 0.4vw;
    }

    .menu {
        display: none;
    }

    .links {
        display: none;
        margin-top: 2vw;
        border: 0;
    }


}

@media only screen and (min-width: 768px) {
    .menu {
        display: grid !important;
    }

    .links {
        display: block !important;
    }

    .menuhide {
        display: none !important;
    }


}